<!DOCTYPE html>
<html>

<head>
    <title>Real-Time Orders</title>
</head>

<body>

    <h1>Real-Time Order Updates</h1>

    <ul id="messages"></ul>

    <script>

        const socket = new WebSocket("ws://127.0.0.1:8000/ws");

        socket.onmessage = function(event) {

            const data = JSON.parse(event.data);

            const messages = document.getElementById("messages");

            const item = document.createElement("li");

            item.textContent =
                `${data.operation} → ${data.data.customer_name} ordered ${data.data.product_name} (${data.data.status})`;

            messages.appendChild(item);
        };

        socket.onopen = function() {
            console.log("Connected to WebSocket server");
        };

    </script>

</body>

</html>